@import url('https://fonts.googleapis.com/css?family=Griffy|Mali');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Mali', cursive;
}

.header {
    display: flex;
    flex-direction: row-reverse;
    background: #223300;
    height: 60px;
}

.button-login {
    margin-top: 14px;
    margin-right: 20px;
    text-transform: uppercase;
}

.button-login:hover, .editBtn:hover {
    opacity: .5;
    background: #b30000;
    color: white;
}

.deleteBtn:hover {
    opacity: .5;
    background: #009933;
    color: white;
}


.form-registration {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
}

.input__email, .input__password, .input__repeat-password, .input__changeName {
    border: none;
    border-radius: 4px;
    background: #FFF8DC;
    height: 20px;
    margin-bottom: 5px;
    font-family: 'Mali', cursive;
}

.input__changeName {
    height: 24px;
    border: 2px solid black;
    background: white;

}

.register__button, .enter__button, .button-login, .editBtn, .deleteBtn, .changeNameBtn, .cancelBtn {
    background: #009933;
    border: none;
    height: 30px;
    border-radius: 4px;
    font-family: 'Mali', cursive;
    text-transform: uppercase;
    cursor: pointer;
}

.deleteBtn, .cancelBtn {
    background: #b30000;
    margin-top: 5px;
}

.enter__button {
    margin-top: 5px;
    background: rgb(205, 133, 63);
}

.register__button:hover {
    opacity: .6;
}

.form {
    display: none;
}

.form-enter-flex {
    display: flex;
    justify-content: center;
}

.submit {
    margin-top: 5px;
    background: #708090;
}

.show__form {
    display: flex;
    justify-content: center;
    animation: fadeIn 1.25s;
    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.form {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 20px;
    margin: 40px auto 0px auto;
    padding: 38px;
    background: rgba(153, 153, 153, .9);
}

.allUsers {
    display: flex;
    justify-content: center;
}

.single__page {
    position: relative;
    margin: 0 auto 0 auto;
}

.users {
    width: 10%;
}

.span {
    display: none;
}

.hidden, .column, .show {
    display: block;
}

.users {
    display: flex;
    flex-direction: column;
}

.container-btn {
    margin-top: 10px;
    text-align: center;
}

.edit__render {
    position: absolute;
    margin: 5px 42%;
    width: 350px;
}

.close{
    position: relative;
    top: 42px;
    right: -303px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 4px solid #e62f57;
    border-radius: 50%;
}

.close:before,
.close:after {
    content: "";
    position: absolute;
    top: 13px;
    left: 2px;
    width: 26px;
    height: 4px;
    background: #e62f57;
}

.close:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.arrow {
    background: #e62f57;
    position: relative;
    left: -35px;
    top: -13px;
    width: 0px;
    height: 0px;
    cursor: pointer;
}
.arrow::after {
    content: '';
    position: absolute;
    right: -30px; top: 15px;
    border: 20px solid transparent;
    border-right: 20px solid #e62f57;
}

